@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
